.chart{
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 19px -6px rgba(77,73,77,0.86);
    -moz-box-shadow: 0px 0px 19px -6px rgba(77,73,77,0.86);
    box-shadow: 0px 0px 19px -6px rgba(77,73,77,0.86); 
    border-radius: 7px;
}
.chartTitle{
    margin-bottom: 20px;
}